<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">My Blog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">
              <img src="/image/house.svg" alt="text Icon" width="20" height="20">
              블로그 홈 화면</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/entermongo">
               <img src="/image/pencil.svg" alt="Pencil Icon" width="20" height="20">
               글 작성
            </a>
         </li>
          <li class="nav-item">
            <a class="nav-link" href="/listmongo">
              <img src="/image/text.svg" alt="text Icon" width="20" height="20">
              작성 글 보기</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/friend">
              <img src="/image/people.svg" alt="text Icon" width="20" height="20">
              이웃 목록</a>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>